/******************
 * GENERAL MARKUP *
 ******************/
body, html {
    margin: 0;
    padding: 0;
    background: #eceae5;
    background: -moz-linear-gradient(top, #eceae5 0%, #f0f0f0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eceae5), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top, #eceae5 0%,#f0f0f0 100%);
    background: -o-linear-gradient(top, #eceae5 0%,#f0f0f0 100%);
    background: -ms-linear-gradient(top, #eceae5 0%,#f0f0f0 100%);
    background: linear-gradient(to bottom, #eceae5 0%,#f0f0f0 100%);
}

html {
    color: #000;
    font: 12px/1.231 arial, helvetica, sans-serif;
    height: 100%;
    min-height: 100%;
}

.gt-force-right {
    float: right;
}

.gt-force-left {
    float: left;
}

ul {
    margin: 0;
    padding: 0;
}

h2 {
    color: #999;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
}


/*********
 * ICONS *
 *********/

.gt-home-icon,
.gt-inbox-icon,
.gt-library-icon,
.gt-cogwheel-icon,
.gt-magnifier-icon,
.gt-task-icon {
    height: 25px;
    width: 35px;
}

.gt-home-icon {
    background: url("../images/home_icon.png") no-repeat center center transparent;
}

.gt-inbox-icon {
    background: url("../images/inbox_icon.png") no-repeat center center transparent;
}

.gt-library-icon {
    background: url("../images/library_icon.png") no-repeat center center transparent;
}

.gt-cogwheel-icon {
    background: url("../images/cogwheel_icon.png") no-repeat center center transparent;
}

.gt-magnifier-icon {
    background: url("../images/magnifier_icon.png") no-repeat center center transparent;
}

.gt-task-icon {
    background: url("../images/task_icon.png") no-repeat center center transparent;
}


/*********************
 * STRUCTURAL LAYOUT *
 *********************/
#gt-page-container {
    margin: 0 auto;
    min-width: 1000px;
    width:90%;
    margin: 0 5%;
}

#gt-topnavigation-container {
    clear: both;
    margin-bottom: 30px;
    min-width: 960px;
    height: 50px;
    width: 100%;
}

#gt-content-container {
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-bottom: none;
    overflow: hidden;
    padding: 12px;
}

#gt-lhnav-container {
    float: left;
    width: 60px;
}

.gt-content-column {
    float: left;
    margin: 12px;
    width: 17%;
}

.gt-content-column#gt-center-column {
    float: left;
    width: 58%;
}

/******************
 * TOP NAVIGATION *
 ******************/

#gt-topnavigation-container #gt-topnavigation-right {
    float: right;
    height: 50px;
}

#gt-topnavigation-container #gt-topnavigation-center {
    background: url("../images/sakaioae_logo.png") no-repeat scroll center center transparent;
    height: 50px;
    margin: 0 auto;
    width: 108px;
}

#gt-topnavigation-container #gt-topnavigation-left {
    float: left;
    height: 50px;
}

#gt-topnavigation-container ul {
    margin: 0;
    padding: 0;
}

#gt-topnavigation-container ul li {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 12px 12px 0;
}

#gt-topnavigation-container #gt-topnavigation-right #topnavigation_search_input {
    width: 200px;
}

#gt-topnavigation-container #gt-topnavigation-right #topnavigation_search_form {
    margin-right: 24px;
}

#gt-topnavigation-container #gt-topnavigation-right #topnavigation-explore-link {
    color: #666;
    margin: 18px 24px 0 0 !important;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

#gt-topnavigation-container #gt-topnavigation-right > * {
    margin-top: 14px;
}


/************************
 * LEFT HAND NAVIGATION *
 ************************/

#gt-lhnav-container > div {
    overflow: hidden;
    white-space: nowrap;
}

#gt-lhnav-container #profile-image{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    height: 40px;
    margin-left: 15px;
    width: 40px;
}

#gt-lhnav-container ul {
    margin: 12px;
}

#gt-lhnav-container ul li,
#gt-lhnav-side-container ul li {
    clear: both;
    height: 25px;
    list-style: none;
    margin: 7px 2px 7px 0
}

#gt-lhnav-container ul li .lhnav-collapsable > * {
    display: inline-block;
    margin-top: 5px;
}


/************
 * ELEMENTS *
 ************/

label {
    color: #777;
}

input[type="checkbox"]:checked + label {
    color: #444;
    font-weight: bold;
}
